body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Organiza cada bloco de label + input */
form {
    margin-bottom: 20px;
}

/* Estilo da Label */
#user_label, 
#senha {
    display: inline;
    /* Faz a label ocupar uma linha inteira */
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.email, 
.senha{
    display: block;
    /* Faz a label ocupar uma linha inteira */
    margin-bottom: 50px;
    font-weight: bold;
    color: #555;
}

/* Estilo dos campos de entrada (input e textarea) */
.campo-form input[type="text"],
.campo-form input[type="email"],
.campo-form textarea {
    width: 100%;
    /* Ocupa 100% da largura do container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Garante que o padding não "estoure" a largura */
}

/* Estilo do Botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

